

.logo {
  width: 20vw;
  height: auto;
}

.duckduck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather {
  display:flex;
  position: static;
}