body {
  background: url("../assets/placeholder.jpg");
}

.App {
  margin: 2vh 2vh 2vh 2vh;
}

.logo {
  width: 20vw;
  height: auto;
  margin-top: 3vh;
}

.duckduck {
  float: left;
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  opacity: 90%;
  color: white;
}

.weather {
  display: flex;
  flex-direction: column;
  float: left;
  display:flex;
  width: 30%;
}